*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 25%;
    padding-right: 5px;
    margin-top: 10px;
    align-items: center;
}
nav a{
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.google-apps{
    max-height: 100%;
    max-width: 100%;
    height: 19px;
}
.btn-sign-in{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 8px 17px;
    border-radius: 3px;
    border: none;
}
.btn-sign-in:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main{
    /* position: relative; */
    /* top: 80px; */
    width: 50%;
    margin: 110px auto 0px;
    margin-bottom: 180px;
    text-align: center;
}
.logo{
    width: auto;
}
input{
    width: 80%;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.288);
}
input:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
*:focus{
   outline: 0ch;
}
.btn{
    background-color: rgba(128, 128, 128, 0.082);
    margin-top: 30px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    border: 1px solid rgba(128, 128, 128, 0.288);
}
.languages{
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
footer{
    background-color: rgba(128, 128, 128, 0.288);
    margin-top: auto; 
    /* position: static; */
    width: 100%;
}
footer p{
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    padding: 15px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
}
.links{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.one a, .two a, .three a{
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    nav{
        width: 30%;
    }
    .main{
        width: 70%;
        margin-bottom: 100px;
    }
    .logo{
        width: 300px;
    }
    input{
        width: 100%;
    }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body{
        overflow-y: hidden;
    }
    nav{
        width: 60%;
    }
    nav a{
        font-size: 12px;
    }
    .main{
        width: 90%;
        margin-bottom: 130px;
    }
    input{
        width: 100%;
        padding: 10px;
    }
    .logo{
        width: 150px;
    }
    .languages{
        font-size: 11px;
    }
    footer p{
        font-size: 12px;
    }
    .one a, .two a, .three a{
        font-size: 12px;
        display: flex;
        align-items: center center;
    }
}
@media (max-width: 320px) {
    nav{
        width: 60%;
    }
    nav a{
        font-size: 12px;
    }
    .main{
        width: 90%;
        margin-bottom: 65px;
    }
    input{
        width: 100%;
        padding: 10px;
    }
    .logo{
        width: 150px;
    }
    .languages{
        font-size: 10px;
    }
    footer p{
        font-size: 12px;
    }
    .one a, .two a, .three a{
        font-size: 12px;
        display: flex;
        align-items: center center;
    }
}